<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Walls</title>
  <base href="/">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'build/favicon.ico' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'build/styles.eefc6e8e386b7cfc5255.bundle.css' %}" rel="stylesheet"/>
</head>
<body>
  <app-root>Loading...</app-root>
  <script type="text/javascript" src="{% static 'build/inline.e0fa76393fdcd0c9dfbb.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'build/polyfills.ef7254db8b689a879c95.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'build/vendor.1a219f2d252390f02f17.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'build/main.760330ce0d04f356299e.bundle.js' %}"></script>
</body>
</html>
