<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Walls</title>
  <base href="/">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'build/favicon.ico' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="{% static 'build/styles.2de011c5371a4a664bf4.bundle.css' %}" rel="stylesheet"/>
</head>
<body>
  <app-root>Loading...</app-root>
  <script type="text/javascript" src="{% static 'build/inline.80090da3a8844ab462d9.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'build/polyfills.20058334efa88d1eecc2.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'build/vendor.afcb48484c624da94c96.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'build/main.c39da06ab1918b5ca007.bundle.js' %}"></script>
</body>
</html>
