<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Walls</title>
  <base href="/">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'build/favicon.ico' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="{% static 'build/styles.cc390459e2a491b96f71.bundle.css' %}" rel="stylesheet"/>
</head>
<body>
  <app-root>Loading...</app-root>
  <script type="text/javascript" src="{% static 'build/inline.20bd3b6e6234c86e0152.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'build/polyfills.2036e020e2263828d62e.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'build/vendor.025e358be3b67de2a7a0.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'build/main.2fc66d77a0a6feae2cec.bundle.js' %}"></script>
</body>
</html>
